 <div>
 <section class="menu-list">
            <div class="menu-item">
                <img class="item-image" src="http://www.gimmegrub.com/restaurant/1604/images/Caesar_Salad.JPG">
                <div class="item-name">Caesar Salad</div>
                <div class="item-desc">A salad of romaine lettuce and croutons dressed with parmesan cheese, lemon juice, olive oil, egg, Worcestershire sauce, garlic, and black pepper.</div>
                <div class="item-price">$35</div>
            </div>
</section>
</div>